<!DOCTYPE html>
<html>
<head>
	<title>Profile</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
</head>
<body>
	<div class="container-fluid">
		<h1>Profile</h1>
		<input placeholder="username" id="username" class="form-control">
		<br>
		<input placeholder="firstName" id="firstName" class="form-control">
		<br>
		<input placeholder="lastName" id="lastName" class="form-control">
		<br>
		<button id="updateBtn">Update</button>
	</div>
	<script
	  src="https://code.jquery.com/jquery-3.3.1.min.js"
	  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	  crossorigin="anonymous"></script>
	<script type="text/javascript" src="profile.controller.client.js"></script>
</body>
</html>