<!DOCTYPE html>
<html>
<head>
	<title>User Admin</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
</head>
<body>
	<div class="container-fluid">
		<h1>User Admin</h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Username</th>
					<th>Password</th>
					<th>First</th>
					<th>Last</th>
					<th>Email</th>
					<th>Role</th>
					<th>&nbsp;</th>
				</tr>
				<tr>
					<th><input></th>
					<th><input></th>
					<th><input></th>
					<th><input></th>
					<th><input></th>
					<th>
						<select>
							<option value="FACULTY">Faculty</option>
							<option value="STUDENT">Student</option>
						</select>
					</th>
					<th>
						<button>Update</button>
						<button>Create</button>
					</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
			<tfoot>
			</tfoot>
		</table>
	</div>
	<script
		  src="https://code.jquery.com/jquery-3.3.1.min.js"
		  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		  crossorigin="anonymous"></script>
	<script type="text/javascript" src="user-admin.controller.client.js"></script>
</body>
</html>
	